
@{
    ViewBag.Title = "SparePartMaster";
    Layout = "~/Views/Shared/e_Master.cshtml";
}

@*<script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
    <script data-require="angular.js@1.1.5" data-semver="1.1.5" src="http://code.angularjs.org/1.1.5/angular.min.js"></script>*@
@*<link data-require="bootstrap-css@2.3.2" data-semver="2.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />*@
<style>
    .pagination {
        margin: 20px 0;
    }

        .pagination ul {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            margin-left: 0;
            margin-bottom: 0;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        }

            .pagination ul > li {
                display: inline;
            }

                .pagination ul > li > a, .pagination ul > li > span {
                    float: left;
                    padding: 4px 12px;
                    line-height: 20px;
                    text-decoration: none;
                    background-color: #ffffff;
                    border: 1px solid #dddddd;
                    border-left-width: 0;
                }

                    .pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
                        background-color: #f5f5f5;
                    }

            .pagination ul > .active > a, .pagination ul > .active > span {
                color: #999999;
                cursor: default;
            }

            .pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus {
                color: #999999;
                background-color: transparent;
                cursor: default;
            }

            .pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
                border-left-width: 1px;
                -webkit-border-top-left-radius: 4px;
                -moz-border-radius-topleft: 4px;
                border-top-left-radius: 4px;
                -webkit-border-bottom-left-radius: 4px;
                -moz-border-radius-bottomleft: 4px;
                border-bottom-left-radius: 4px;
            }

            .pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
                -webkit-border-top-right-radius: 4px;
                -moz-border-radius-topright: 4px;
                border-top-right-radius: 4px;
                -webkit-border-bottom-right-radius: 4px;
                -moz-border-radius-bottomright: 4px;
                border-bottom-right-radius: 4px;
            }

    .pagination-centered {
        text-align: center;
    }

    .pagination-right {
        text-align: right;
    }

    .pagination-large ul > li > a, .pagination-large ul > li > span {
        padding: 11px 19px;
        font-size: 17.5px;
    }

    .pagination-large ul > li:first-child > a, .pagination-large ul > li:first-child > span {
        -webkit-border-top-left-radius: 6px;
        -moz-border-radius-topleft: 6px;
        border-top-left-radius: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -moz-border-radius-bottomleft: 6px;
        border-bottom-left-radius: 6px;
    }

    .pagination-large ul > li:last-child > a, .pagination-large ul > li:last-child > span {
        -webkit-border-top-right-radius: 6px;
        -moz-border-radius-topright: 6px;
        border-top-right-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -moz-border-radius-bottomright: 6px;
        border-bottom-right-radius: 6px;
    }

    .pagination-mini ul > li:first-child > a, .pagination-small ul > li:first-child > a, .pagination-mini ul > li:first-child > span, .pagination-small ul > li:first-child > span {
        -webkit-border-top-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-bottom-left-radius: 3px;
    }

    .pagination-mini ul > li:last-child > a, .pagination-small ul > li:last-child > a, .pagination-mini ul > li:last-child > span, .pagination-small ul > li:last-child > span {
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topright: 3px;
        border-top-right-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        border-bottom-right-radius: 3px;
    }

    .pagination-small ul > li > a, .pagination-small ul > li > span {
        padding: 2px 10px;
        font-size: 11.9px;
    }

    .pagination-mini ul > li > a, .pagination-mini ul > li > span {
        padding: 0 6px;
        font-size: 10.5px;
    }
</style>
<div ng-app="sparepartmasterApp" ng-controller="sparepartmasterCtrl" ng-cloak>
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Spare Part Master</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Dashboard/admin"><i class="feather icon-Dashboard"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Master Module</a></li>
                        <li class="breadcrumb-item"><a href="/Tool/PartMaster">Spare PartMaster</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-body">
        <div class="page-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" ng-show="IsListDivVisible">
                        <div class="card-header">
                            <h5>Spare Part Master List</h5>
                            <div style="float: right; margin-right: 25px;">
                                <a class="" href="#" title="Add NewPart" style="font-size: 25px;" data-toggle="tooltip" ng-click="editClick(null,'A')"><i class="feather icon-plus-square f-30"></i></a>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="dropdown-secondary dropdown d-inline">
                                <button class="btn btn-primary  " type="button" data-toggle="dropdown" aria-haspopup="true" ng-click="GetExcelData()" aria-expanded="false">Save As Excel</button>
                                @*<div class="dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <a class="dropdown-item  " href="#!" ng-click="exportToExcel('#PartMasterList')"><i class="fas fa-file-excel text-c-blue f-30"></i> Save As Excel</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item  " href="#!" ng-click="exportToPDF('PartMasterList')"><i class="fas fa-file-pdf text-c-blue f-30"></i> Save As PDF</a>
                                    </div>*@
                            </div>
                            <div class="">
                                <div class="row" style="padding-left:17%">
                                    <div class="col-md-4">
                                        <select class="form-control selectpicker show-menu-arrow show-tick" style="height:90%" data-live-search="true" data-actions-box="true" ng-model="obj.SearchField" name="IsReusable">
                                            <option value="">--Select Search Field--</option>
                                            <option value="PartName">PartName</option>
                                            <option value="PartNumber">PartNumber</option>
                                            <option value="PartSpecification">PartSpec</option>
                                            <option value="Spare_Location">Location</option>


                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="main-search open">
                                            <div class="input-group">
                                                <input type="text" id="" ng-model="obj.SearchData" class="form-control" placeholder="Search . . ." style="width: 90px;">

                                                <span class="input-group-append search-btn btn btn-primary">
                                                    <i class="feather icon-search input-group-text" ng-click="FunctionSearch(obj)"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    @*<i class="fa fa-refresh" aria-hidden="true"></i>*@
                                    <a href="#!" class="btn  btn-primary" ng-click="init()"><i class="feather icon-refresh-cw f-30"></i>&nbsp;Refresh <span class="ripple ripple-animate" style="height: 60.4875px; width: 60.4875px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: -13.6437px; left: -24.3687px;"></span></a>

                                </div>
                                <div class="table-responsive m-t-20">
                                    <table class="table table-bordered table-striped mb-0  no-footer" style="font-weight: bolder;width: 100%" datatable="ng" dt-options="vm.dtOptions" id="PartMasterList">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th style="display:none">Part Master Id</th>
                                                <th>Part Number</th>
                                                <th>Part Name</th>
                                                <th>Part Spec</th>
                                                <th>UOM</th>

                                                <th>Resuable(Y/N)</th>

                                                <th>Current Stock</th>
                                                <th>Location</th>
                                                <th>Is Active</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            <tr ng-repeat="row in SparePartMasterList">
                                                <td>{{row.Row_no}}</td>
                                                <td style="display:none">{{ row.PartId }}</td>
                                                <td>{{ row.PartNumber }}</td>
                                                <td>{{ row.PartName }}</td>
                                                <td>{{ row.PartSpecification }}</td>


                                                <td>
                                                    <span ng-if="row.UOM==='L'">
                                                        {{'Liter'}}
                                                    </span>
                                                    <span ng-if="row.UOM==='ML'">
                                                        {{'Mililiter'}}
                                                    </span>
                                                    <span ng-if="row.UOM==='KG'">
                                                        {{'Kilogram'}}
                                                    </span>
                                                    <span ng-if="row.UOM==='M'">
                                                        {{'Meter'}}
                                                    </span>
                                                    <span ng-if="row.UOM==='Qty'">
                                                        {{'Quantity'}}
                                                    </span>
                                                    <span ng-if="row.UOM==='Set'">
                                                        {{'Set'}}
                                                    </span>
                                                </td>

                                                <td>
                                                    <span ng-if="row.IsReusable==='Y'">
                                                        {{'Yes'}}
                                                    </span>
                                                    <span ng-if="row.IsReusable==='N'">
                                                        {{'No'}}
                                                    </span>
                                                </td>


                                                <td>{{ row.TotalProductCount }}</td>
                                                <td>{{row.Spare_Location}}</td>

                                                <td>
                                                    <span ng-switch on="row.IsActive">
                                                        <img ng-switch-when="Y" src="~/Assets/images/table/tick.jpg" style="width: 25px;">
                                                        <img ng-switch-default src="~/Assets/images/table/cross.jpg" style="width: 25px;">
                                                    </span>
                                                </td>

                                                <td>
                                                    <a><i class="feather icon-edit btn btn-primary" title="Edit" ng-click="editClick(row,'E')" style="margin-left: 15%;"></i></a>

                                                </td>

                                            </tr>
                                        </tbody>

                                    </table>
                                    <div data-pagination="" data-num-pages="numPages()"
                                         data-current-page="currentPage" data-max-size="maxSize"
                                         data-boundary-links="true" ng-click="BindFilterData()"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" ng-show="IsEditDivVisible">
                        <div class="card-header">
                            <h5>Add PartMaster</h5>
                            <div style="float: right; margin-right: 25px;">
                                <a class="" href="#" title="Cancel" data-toggle="tooltip" style="font-size: 25px;" ng-click="CancelSparePartMaster()"><i class="feather icon-x-square f-30"></i></a>
                            </div>
                        </div>
                        <div class="card-block">
                            <form name="SparePartMasterForm" ng-submit="submitForm(SparePartMasterForm.$valid,obj)" novalidate>
                                <div class="row">

                                    <div class="col-md-6" ng-class="{'has-error':obj.ItemType=='MRO'&&SparePartMasterForm.SubInv.$invalid && !SparePartMasterForm.SubInv.$pristine,'has-success': SparePartMasterForm.SubInv.$valid }">
                                        <div class="form-group">
                                            <label class="form-label">Sub Inventory</label>
                                            <input id="SubInv" type="text" class="form-control" autocomplete="off" ng-required="obj.ItemType=='MRO'" placeholder="Sub Inventory" name="SubInv" ng-model="obj.SubInv">
                                            <p ng-show="obj.ItemType=='MRO'&&SparePartMasterForm.SubInv.$invalid && !SparePartMasterForm.SubInv.$pristine" class="help-block">This field is required..</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6" ng-class="{'has-error':SparePartMasterForm.ItemType.$invalid && !SparePartMasterForm.ItemType.$pristine,'has-success': SparePartMasterForm.ItemType.$valid }">
                                        <div class="form-group">
                                            <label class="form-label">Item Type</label>
                                            <select class="form-control selectpicker show-menu-arrow show-tick" id="ItemType" data-live-search="true" data-actions-box="true" ng-model="obj.ItemType" name="ItemType" required>
                                                <option value="">--Select Item Type--</option>
                                                <option value="MRO">MRO</option>
                                                <option value="NON MRO">NON MRO</option>

                                            </select>
                                            <p ng-show="SparePartMasterForm.ItemType.$invalid && !SparePartMasterForm.ItemType.$pristine" class="help-block">This field is required..</p>
                                        </div>
                                    </div>

                                    <div class="col-md-6" ng-class="{'has-error':SparePartMasterForm.PartNumber.$invalid && !SparePartMasterForm.PartNumber.$pristine,'has-success': SparePartMasterForm.PartNumber.$valid }">
                                        <div class="form-group">
                                            <label class="form-label">Part Number</label>
                                            <input id="PartNumber" type="text" class="form-control" autocomplete="off" placeholder="Number" name="PartNumber" ng-model="obj.PartNumber" required>
                                            <p ng-show="SparePartMasterForm.PartNumber.$invalid && !SparePartMasterForm.PartNumber.$pristine" class="help-block">This field is required..</p>
                                        </div>
                                    </div>

                                    <div class="col-md-6" ng-class="{'has-error':SparePartMasterForm.PartName.$invalid && !SparePartMasterForm.PartName.$pristine,'has-success': SparePartMasterForm.PartName.$valid }">
                                        <div class="form-group">
                                            <label class="form-label">Part Name</label>
                                            <input id="PartName" type="text" class="form-control" autocomplete="off" placeholder="Name" name="PartName" ng-model="obj.PartName" required>
                                            <p ng-show="SparePartMasterForm.PartName.$invalid && !SparePartMasterForm.PartName.$pristine" class="help-block">This field is required..</p>
                                        </div>
                                    </div>

                                    <div class="col-md-6" ng-class="{'has-error':SparePartMasterForm.PartSpecification.$invalid && !SparePartMasterForm.PartSpecification.$pristine,'has-success': SparePartMasterForm.PartSpecification.$valid }">
                                        <div class="form-group">
                                            <label class="form-label">Part Specification</label>
                                            <input id="PartSpecification" type="text" class="form-control" autocomplete="off" placeholder="Specification" name="PartSpecification" ng-model="obj.PartSpecification" required>
                                            <p ng-show="SparePartMasterForm.PartSpecification.$invalid && !SparePartMasterForm.PartSpecification.$pristine" class="help-block">This field is required..</p>
                                        </div>
                                    </div>

                                    <div class="col-md-6" ng-class="{'has-error':SparePartMasterForm.UOM.$invalid && !SparePartMasterForm.UOM.$pristine,'has-success': SparePartMasterForm.UOM.$valid }">
                                        <div class="form-group">
                                            <label class="form-label">UOM</label>
                                            <select class="form-control selectpicker show-menu-arrow show-tick" data-live-search="true" data-actions-box="true" ng-model="obj.UOM" name="UOM" required>
                                                <option value="">--Select UOM Type--</option>
                                                <option value="L">Liter</option>
                                                <option value="ML">Mililiter</option>
                                                <option value="KG">Kilogram</option>
                                                <option value="M">Meter</option>
                                                <option value="Qty">Quantity</option>
                                                <option value="Set">Set</option>
                                            </select>
                                            <p ng-show="SparePartMasterForm.UOM.$invalid && !SparePartMasterForm.UOM.$pristine" class="help-block">This field is required..</p>
                                        </div>
                                    </div>

                                    <div class="col-md-6" ng-class="{'has-error':SparePartMasterForm.CostPerUnit.$invalid && !SparePartMasterForm.CostPerUnit.$pristine,'has-success': SparePartMasterForm.CostPerUnit.$valid }">
                                       
                                        <div class="form-group">
                                            <label class="form-label">Cost Per Unit</label>
                                            <input id="CostPerUnit" type="text" decimal-only class="form-control" autocomplete="off" placeholder="Cost" name="CostPerUnit" ng-model="obj.CostPerUnit" required>
                                            <p ng-show="SparePartMasterForm.CostPerUnit.$invalid && !SparePartMasterForm.CostPerUnit.$pristine" class="help-block">This field is required..</p>
                                        </div>
                                    </div>



                                    <div class="col-md-6" ng-class="{'has-error':SparePartMasterForm.value.$invalid && !SparePartMasterForm.value.$pristine ,'has-success': SparePartMasterForm.value.$valid }">
                                        <div class="form-group">
                                            <label class="form-label">Minimun Quantity</label>
                                            <input id="Min_qty" type="number" class="form-control" autocomplete="off" placeholder="Minqty" ng-model="obj.Min_qty" ng-min="obj.Min_qty" ng-max="obj.Max_qty" name="value"  onmousewheel="return false"  required />

                                            <p ng-show="SparePartMasterForm.value.$invalid && !SparePartMasterForm.value.$pristine " class="help-block">Value Invalid..</p>
                                            <p ng-show="SparePartMasterForm.value.$invalid && !SparePartMasterForm.value.$pristine && obj.Min_qty==0" class="help-block">Value Inv.</p>

                                        </div>
                                    </div>
                                    <div class="col-md-6" ng-class="{'has-error':SparePartMasterForm.value1.$invalid && !SparePartMasterForm.value1.$pristine,'has-success': SparePartMasterForm.value1.$valid }">
                                        <div class="form-group">
                                            <label class="form-label">Maximun Quantity</label>
                                            <input id="Max_qty" type="number" class="form-control" autocomplete="off" placeholder="Maxqty" ng-model="obj.Max_qty" ng-min="obj.Min_qty" ng-max="obj.Max_qty" name="value1" onmousewheel="return false" required />
                                            <p ng-show="SparePartMasterForm.value1.$invalid && !SparePartMasterForm.value1.$pristine" class="help-block">Value Invalid..</p>
                                        </div>
                                    </div>

                                    <div class="col-md-6" ng-class="{'has-error':SparePartMasterForm.Reorder_qty.$invalid && !SparePartMasterForm.Reorder_qty.$pristine,'has-success': SparePartMasterForm.Reorder_qty.$valid }">
                                        <div class="form-group">
                                            <label class="form-label">Reorder Quantity</label>
                                            <input id="Reorder_qty" type="text" class="form-control" decimal-only autocomplete="off" placeholder="Reorderqty" name="Reorder_qty" ng-model="obj.Reorder_qty"  required>
                                            <p ng-show="SparePartMasterForm.Reorder_qty.$invalid && !SparePartMasterForm.Reorder_qty.$pristine" class="help-block">This field is required..</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Life Time</label>
                                            <input id="LifeTime" type="text" class="form-control" autocomplete="off" placeholder="LifeTime" name="LifeTime" ng-model="obj.LifeTime">
                                        </div>
                                    </div>
                                    <div class="col-md-6" ng-class="{'has-error':SparePartMasterForm.IsReusable.$invalid && !SparePartMasterForm.IsReusable.$pristine,'has-success': SparePartMasterForm.IsReusable.$valid }">
                                        <div class="form-group">
                                            <label class="form-label">Is Reusable</label>
                                            <select class="form-control selectpicker show-menu-arrow show-tick" data-live-search="true" data-actions-box="true" ng-model="obj.IsReusable" name="IsReusable" required>
                                                <option value="">--Select Is Reusable--</option>
                                                <option value="Y">Yes</option>
                                                <option value="N">No</option>
                                            </select>
                                            <p ng-show="SparePartMasterForm.IsReusable.$invalid && !SparePartMasterForm.IsReusable.$pristine" class="help-block">This field is required..</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Spare Location</label>
                                            <select class="form-control js-example-basic-multiple col-sm-12 select2-hidden-accessible" id="Spare_Location" data-live-search="true" data-actions-box="true" ng-model="obj.Spare_Location" name="Spare_Location" ng-options='Spare_Location.LocationName as (Spare_Location.LocationName) for Spare_Location in SpareLocationList|filter:filterSpareLocationList' >
                                                @*<option value="">--Select Spare Location--</option>*@
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Vendor</label>
                                            <select class="form-control js-example-basic-multiple col-sm-12 select2-hidden-accessible" id="VendorCode" data-live-search="true" data-actions-box="true" ng-change="BindVendorName(obj)" ng-model="obj.VendorCode" name="VendorCode" ng-options='VendorCode.VendorCode as (VendorCode.VendorName + "  -  " + VendorCode.VendorCode) for VendorCode in ToolVendorList|filter:filterToolVendorList' >
                                                @*<option value="">--Choose here--</option>*@
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Vendor Name</label>
                                            <input id="VendorName" type="text" class="form-control" ng-disabled="true" autocomplete="off" placeholder="VendorName" name="VendorName" ng-model="obj.VendorName" >
                                        </div>
                                    </div>
                                    @*<div class="col-md-6" ng-class="{'has-error':SparePartMasterForm.SpareType.$invalid && !SparePartMasterForm.SpareType.$pristine,'has-success': SparePartMasterForm.SpareType.$valid }">
                                            <div class="form-group">
                                                <label class="form-label">Part Type</label>
                                                <select class="form-control selectpicker show-menu-arrow show-tick" data-live-search="true" data-actions-box="true" ng-model="obj.SpareType" name="SpareType" required>
                                                    <option value="">--Select Part Type--</option>
                                                    <option value="S">Spare</option>
                                                    <option value="T">Tool</option>
                                                </select>
                                                <p ng-show="SparePartMasterForm.SpareType.$invalid && !SparePartMasterForm.SpareType.$pristine" class="help-block">This field is required..</p>
                                            </div>
                                        </div>*@



                                    <div class="col-md-6">
                                        <div class="checkbox checkbox-info d-inline">
                                            <input type="checkbox" name="IsActive" id="chkIsActive" ng-model="obj.IsActive">
                                            <label for="chkIsActive" style="padding-top: 40px; padding-left: 4px;" class="cr">Is Active</label>
                                        </div>
                                    </div>

                                </div>
                                <div style="float: right;">
                                    <button type="submit" class="btn btn-outline-primary" title="" data-toggle="tooltip" data-original-title="Submit">Submit</button>
                                    <button type="button" ng-click="CancelSparePartMaster()" class="btn btn-outline-secondary" title="" data-toggle="tooltip" data-original-title="Cancel">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="../CommonJS/jquery.dataTables.min.js"></script>
    <script src="../CommonJS/angular-datatable.min.js"></script>
    <script src="~/AngularJS/Spare/SparePartMaster/SparePartMaster-app.js"></script>
    <script src="~/AngularJS/Spare/SparePartMaster/SparePartMaster-controller.js"></script>
}


