
@{
    ViewBag.Title = "LineMaster";
    Layout = "~/Views/Shared/e_Master.cshtml";
}


<div ng-app="lineApp" ng-controller="lineCtrl" ng-cloak>
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">WorkCenter List</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Dashboard/admin"><i class="feather icon-Dashboard"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Master</a></li>
                        <li class="breadcrumb-item"><a href="/Tool/LineMaster">WorkCenter List</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-body">
        <div class="page-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" ng-show="IsListDivVisible">
                        <div class="card-header">
                            <h5>W/C List</h5>
                            <div style="float: right; margin-right: 25px;">
                                <a class="" href="#" title="Add NewLine" style="font-size: 25px;" data-toggle="tooltip" ng-click="editClick(null,'C')"><i class="feather icon-plus-square f-30"></i></a>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="dropdown-secondary dropdown d-inline">
                                <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></button>
                                <div class="dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    <a class="dropdown-item  " href="#!" ng-click="exportToExcel('#LineMasterList')"><i class="fas fa-file-excel text-c-blue f-30"></i> Save As Excel</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item  " href="#!" ng-click="exportToPDF('LineMasterList')"><i class="fas fa-file-pdf text-c-blue f-30"></i> Save As PDF</a>
                                </div>
                            </div>
                            <div class="">
                                <div class="table-responsive m-t-20">
                                    <table class="table table-bordered table-striped mb-0 dataTable no-footer" style="font-weight: bolder;width: 100%" datatable="ng" dt-options="vm.dtOptions" id="LineMasterList">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                @*<th style="display:none">Line Id</th>*@
                                                <th>Work Center Id</th>
                                                <th>Work Center(W/C)</th>
                                                <th>Is Active</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            <tr ng-repeat="row in LineList">
                                                <td>{{ $index +   1 }}</td>
                                                @*<td style="display:none">{{ row.LineId }}</td>*@
                                                <td>{{ row.LineId }}</td>
                                                <td>{{ row.LineName }}</td>

                                                <td>
                                                    <span ng-switch on="row.IsActive">
                                                        <img ng-switch-when="Y" src="~/Assets/images/table/tick.jpg" style="width: 25px;">
                                                        <img ng-switch-default src="~/Assets/images/table/cross.jpg" style="width: 25px;">
                                                    </span>
                                                </td>
                                                @*<td>
                                                        <a href="#!" class="btn btn-info btn-sm has-ripple" ng-click="editClick(row,'E')"><i class="feather icon-edit"></i>&nbsp;Edit <span class="ripple ripple-animate" style="height: 60.4875px; width: 60.4875px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: -13.6437px; left: -24.3687px;"></span></a>
                                                    </td>*@
                                                @*<td>
                                                                                                    <button type="button" class="btn btn-icon btn-success has-ripple" ng-click="editClick(row,'E')" style="
                                                    border-radius: 50%;
                                                        color: #fff;
                                                    background-color: #f3f8f4;
                                                    border-color: #28a745;">
                                                                                                        <i class="fa fa-edit text-primary"></i><span class="ripple ripple-animate" style="height: 45px; width: 45px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: 12.7px; left: 0.0999756px;"></span>
                                                                                                    </button>
                                                                                                </td>*@
                                                @*<td ng-switch on="row.IsActive" class="text-wrap">
                                                        <span ng-switch-when="Y" class="label theme-bg f-12 text-white" style="border-radius: 15px;">Active</span>
                                                        <span ng-switch-default class="label theme-bg2 f-12 text-white" style="border-radius: 15px;" >InActive</span>
                                                    </td>*@
                                                @*<td>
                                                        <i class="fas fa-toggle-on" style="font-size:29px;cursor:pointer; color: #5cb85c;padding-left: 31px;padding-top: 0px;"
                                                           ng-if="row.IsActive == 'Y'"
                                                           ng-click="editClick(row,'I')" title="Active">
                                                        </i>
                                                        <i class="fas fa-toggle-on fa-rotate-180" style="font-size:29px;cursor:pointer;color: #d9534f;padding-left: 31px;padding-top: 0px;"
                                                           ng-if="row.IsActive == 'N'"
                                                           ng-click="editClick(row,'A')" title="InActive">
                                                        </i>
                                                    </td>*@

                                                @*<td>

                                                    <a><i class="fa fa-edit text-primary" title="Edit" ng-click="editClick(row,'E')" style="padding-right: 10px;"></i></a>
                                                </td>*@
                                                <td>
                                                    <a><i class="feather icon-edit btn btn-primary" title="Edit" ng-click="editClick(row,'E')" style="margin-left: 15%;"></i></a>

                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" ng-show="IsEditDivVisible">
                        <div class="card-header">
                            <h5>Add New WorkCenter</h5>
                            <div style="float: right; margin-right: 25px;">
                                <a class="" href="#" data-toggle="tooltip" title="Cancel" style="font-size: 25px;" ng-click="CancelLine()"><i class="feather icon-x-square f-30"></i></a>
                            </div>
                        </div>
                        <div class="card-block">
                            <form name="LineForm" ng-submit="submitForm(LineForm.$valid,obj)" novalidate>
                                <div class="row">

                                    <div class="col-md-6" ng-class="{'has-error':LineForm.Lname.$invalid && !LineForm.Lname.$pristine,'has-success': LineForm.Lname.$valid }">
                                        <div class="form-group">
                                            <label class="form-label">Work Center</label>
                                            <input id="LineName" type="text" class="form-control" autocomplete="off"  placeholder="Enter WorkCenter Name" name="Lname" ng-model="obj.LineName" required>
                                            <p ng-show="LineForm.Lname.$invalid && !LineForm.Lname.$pristine" class="help-block">This field is required..</p>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="checkbox checkbox-info d-inline">
                                            <input type="checkbox" name="IsActive" id="chkIsActive" ng-model="obj.IsActive">
                                            <label for="chkIsActive" style="padding-top: 40px; padding-left: 4px;" class="cr">Is Active</label>
                                        </div>
                                    </div>

                                </div>
                                <div style="float: right;">
                                    <button type="submit" class="btn btn-outline-primary" title="" data-toggle="tooltip" data-original-title="Submit">Submit</button>
                                    <button type="button" ng-click="CancelLine()" class="btn btn-outline-secondary" title="" data-toggle="tooltip" data-original-title="Cancel">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="../CommonJS/jquery.dataTables.min.js"></script>
    <script src="../CommonJS/angular-datatable.min.js"></script>
    <script src="~/AngularJS/Master/LineMaster/LineMaster-app.js"></script>
    <script src="~/AngularJS/Master/LineMaster/LineMaster-controller.js"></script>
}




